:root{
    --primary-color: hsl(171, 66%, 44%);
    --secondary-color: hsl(233, 100%, 69%);

    --primary-color-darker: hsl(171, 66%, 37%);
    --secondary-color-darker: hsl(233, 61%, 56%);


    --tertiary-color: hsl(210, 10%, 33%);
    --fouthary-color: hsl(201, 11%, 66%);
}

body{
    font-size: 1.125rem ;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    margin: 0;
    background-image: url("/images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
}

main{
    text-align: center;
}

img{
    max-width: 100%;
}

.btn{
    width: 100%;
    padding: .9375rem;
    border-radius: 3.125rem;
    border: none;
    color: white;
    font-weight: 600;
}

.btn:hover{
    cursor: pointer;
}

li a:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.btn-ios{
    background-color: var(--primary-color);
    border-bottom: .25rem solid var(--primary-color-darker);
    box-shadow: 0 .3125rem .9375rem 0 var(--primary-color);
    margin: .9375rem 0;
}

.btn-mac{
    background-color: var(--secondary-color);
    border-bottom: .25rem solid var(--secondary-color-darker);
    box-shadow: 0 .3125rem .9375rem 0 var(--secondary-color);
}

p{
    color: var(--fouthary-color);
}

ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

section{
    padding: 3.125rem 1.5625rem ;
}

.option-container{
    margin-top: 5.5625rem ;
}

.overview-container{
    margin-top: 5.5625rem ;
}

.partners-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners-container img{
    padding: 1.5625rem; 
}

.social-menu{
    display: flex;
    margin: 0;
}

.social-menu li{
    padding: .9375rem ;
}

.web-links-menu a{
    text-decoration: none;
    color: var(--tertiary-color);
}

.web-links-menu li{
    padding: .625rem 0;
}

footer{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5625rem ;
    margin-top: 1.5625rem ;
}

footer .logo{
    width: 4.0625rem ;
}

@media screen and (min-width: 48rem ){

    body{
        background-image: url("/images/bg-header-desktop.png");
    }

    main{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    section{
        width: 80%;
    }

    main section:nth-child(1),
    main section:nth-child(2) .track,
    main section:nth-child(3),
    main section:nth-child(6){
        width: 42.5rem ;
    }

    main section:nth-child(1),
    main section:nth-child(2),
    main section:nth-child(6){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main section:nth-child(2){
        width: 100%;
        padding: 0;
    }

    main section:nth-child(2) img{
        position: relative;
        left: -3.125rem;
        max-width: 50%;
    }

    .container{
        display: flex;
        width: 80%;
    }

    .btn{
        margin: .9375rem ;
    }

    .partners-container{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .option-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .option-container div{
        padding: .9375rem ;
    }

    .overview-container{
        display: flex;
        flex-direction: row;
    }

    .overview-options{
        padding: 3.125rem ;
        text-align: left;
        width: 35%;
    }

    .btn-mac {
        margin: .9375rem 0;
    }


    .web-links-menu{
        display: flex;
        flex-wrap: wrap;
        width: 25.9375rem ;
    }

    .web-links-menu li{
        padding: .9375rem;
    }

    footer{
        flex-direction: row ;
        justify-content: space-between;
        padding: 0 10%;
    }
}